body {
    height: 100vh;
}

.content {
    background-color: rgb(18, 5, 29);
    color: white;
    font-family: 'Concert One', sans-serif;
    padding: 20px;
    height: 90vh;
}

.nav {
    display: flex;
    background-image: linear-gradient(to left, #06f1ed, #01ff4d);
    font-family: 'Concert One', sans-serif;
}

li {
    display: flex;
}

h1 {
    font-family: 'Permanent Marker';
}

h2 {
    font-family: 'Permanent Marker';
    color: #ff016f;
    padding: 10px;
}

h3 {
    font-family: 'Permanent Marker';
    color: #ff016f;
}

#main-heading {
    margin-right: 50%;
}

.nav-link.active {
    font-weight: bold;
}


#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    background-image: linear-gradient(to left, #06f1ed, #01ff4d);
}

.logos {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.footer-item {
margin-left: 50px;
}