body {
    height: 100vh;
}

.content {
    background-color: rgb(18, 5, 29);
    color: white;
    font-family: 'Concert One', sans-serif;
    padding: 1%;
    height: 100vh;
}

.nav {
    display: flex;
    background-image: linear-gradient(to left, #06f1ed, #01ff4d);
    font-family: 'Concert One', sans-serif;
}

li {
    display: flex;
}

h1 {
    font-family: 'Permanent Marker';
}

h2 {
    font-family: 'Permanent Marker';
    color: #ff016f;
}

h3 {
    font-family: 'Permanent Marker';
    color: #ff016f;
}

#main-heading {
    margin-right: 40vw;
}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    background-image: linear-gradient(to left, #06f1ed, #01ff4d);
}

.logos {
    height: 5vw;
    width: 5vw;
    margin-right: 1em;
}

.footer-item {
margin-left: 5vw;
padding: 1%;
}

#abt-me-gif {
    height: 50%;
    width: 50%;
    margin-bottom: 2vh;
}

.portfolio-item {
    height: 75%;
    width: 75%;
    margin-bottom: 2vh;
}

.portfolio-topics {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 3vw;
    }

    #main-heading {
        margin-right: 5vw;
    }

    .logos {
        height: 8vw;
        width: 8vw;
        margin-right: 0.5em;
    }

    .footer-item {
        margin-left: 3vw;
    }

    #abt-me-gif, .page-title {
        margin-left: 5vw;
        padding: 3vw;
    }

}

